body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #222;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 24px;
    display: inline-block;
  }
  
  .topbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .topbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .topbar li {
    display: inline;
  }
  
  .topbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .topbar a:hover {
    background-color: #555;
    color: #ddd;
    border-radius: 5px;
  }

  .contact-banner {
    background-color: #222; /* Dark grey background */
    color: #fff; /* White text */
    text-align: left;
    padding: 15px;
}

.contact-banner a {
    color: #ffcc00; /* Yellow link color */
    text-decoration: none;
}

.contact-banner a:hover {
    text-decoration: underline;
}

.link-yellow {
    color: #ffcc00;
}

.white-text {
    color: #fff;
}

/* From Uiverse.io by kennyotsu */ 
.hidden {
    display: none;
}

/* Loader Styles */
.card {
    --bg-color: #313131;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    border-radius: 8px;
}

.words {
    overflow: hidden;
    position: relative;
}

.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        var(--bg-color) 10%,
        transparent 30%,
        transparent 70%,
        var(--bg-color) 90%
    );
    z-index: 20;
}

.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 12s infinite;
}

@keyframes spin_4991 {
    10% {
        transform: translateY(-102%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-202%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-302%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-402%);
    }

    100% {
        transform: translateY(-400%);
    }
}


.useless {
    text-align: center;
}
